.Navbar-class {
    color: blueviolet;
    /*padding: 100px;*/
    display: flex;
    /*position: fixed;*/
    /*transition: 5s;*/
    width: 100%;
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*color: #61dafb;*/
    /*background: #282c34;*/
    /*border: 0px;*/
}

.Navbar-class .p-menuitem{
    font: calc(5px + 2vmin) italic bolder;
}
.Navbar-class:not(#hidden-navbar) .p-menuitem{
    font: calc(5px + 2vmin) italic bolder;
    animation: Appear-from-above .5s;
}

.p-menubar{
    padding: 100px;
    background: #293754 !important;
    border: 0px !important;
    border-radius: 0px !important;
}
.Navbar-class.p-menubar ul {
    position: absolute;
    right: 0%;
}

#hidden-navbar {
    visibility: hidden;
    position: fixed;
    /*background-color: #12151a !important;*/
    background-image: linear-gradient(180deg, #293754, #2b2b2b) !important;
    opacity: 0.9;

    /*animation: Appear-from-above  0.3s ;*/
    /*transition: .5s;*/

    /*display:grid;*/
    /*place-items: center;*/

    /*-webkit-transition: color .25s linear;*/
    /*transition: color .25s linear;*/
    /*transition: background-color .15s linear .1s;*/
}
.Animation-class {
    animation: Appear-from-above  0.3s ;
}

#hidden-navbar.p-menubar {
    /*display: grid;*/
    /*place-items: center;*/
    padding: 30px;
}

#hidden-navbar.p-menubar ul {
    /*position: absolute;*/
    right: 50%;
    transform: translate(50%);
    /*padding: 100px*/
    /*display: flex;*/
    /*flex-direction: column;*/
    align-items: center;
    alignment: center;
    justify-content: center ;
}

#hidden-navbar .p-menuitem-text{
    color: #00f7ff;
}
/*.p-menubar-button:hover{*/
/*    border: 2px blueviolet;*/
/*}*/

.App-logo-navbar {
    height: 5vmin;
    /*pointer-events:  ;*/
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo-navbar {
        animation: App-logo-navbar-spin infinite 10s linear;
    }
}

@keyframes App-logo-navbar-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Navbar-class-header {
}

.Navbar-class-page {
    display: flex;
    position: fixed;
}

.p-menuitem-text {
    /*color: #61d7f7 !important;*/
}