.LoadingScreen-div {
    /*justify-content: center;*/
    /*align-items: center;*/
    /*display: flex;*/
    background-color: #293754;
    height: 100%;
    position: center;
    transform: translate(0, 150%);
    /*animation: ;*/
    z-index: 0;
    color: white;
}
.LoadingScreen-div-hide{
    animation: expand-light 5s;
}
.endAnimation {

}